body{
    background-color:blue;
    }
p{
    font-size:30px;
     width:1000px;
  font-family: 'Caveat', cursive;

    }
    img{
        width:299px;}
        p{
      background-color:#000000;
      color: red;
        }        
